* {
    margin:0%;
    background-color: bisque;
}

h3 {
    text-align: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: auto;

}

title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    
}
